APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost
=
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
=
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
=
BCRYPT_ROUNDS=12
=
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
=
# DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=
=
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
=
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
=
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
=
CACHE_STORE=database
CACHE_PREFIX=
=
MEMCACHED_HOST=127.0.0.1
=
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
=
MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
=
# MAIL_MAILER=log
# MAIL_HOST=127.0.0.1
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS="hello@example.com"
# MAIL_FROM_NAME="${APP_NAME}"
=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
=
VITE_APP_NAME="${APP_NAME}"
=
JWT_SECRET=
=
JWT_ALGO=
=
=
EMAIL_HUNTER_KEY =
=
=
=
# table File_type aura pour attributs : 
# -	Name : qui sera le nom du document (CIP, Identity Card, Passeport)
# -	Format : qui sera le/les type(s) acceptés pour le document (image,doc, image or doc)
# -	Is_actif : qui servira à voir si c’est le document est actif donc peut être reçu
# -	Type_person : qui servira à savoir ceux concerné par le document (Merchant, Client, DeliveryAgent)
# -	Uid
# -	Deleted
# -	timestamp
=
=
# person_file aura pour attributs : 
# -	File_type_id : id du type fichier concerné
# -	File_id : id du fichier entré par l’utilisateur
# -	Person_id : id de la person ayant ajouté le fichier
# -	Filecode : qui sera généré et sera unique pour chaque donnée
# -	format : qui dira qu’elle format a choisit l’utilisateur parmis ceux proposé
# -	Uid
# -	Deleted
# -	timestamp
# -	validated_by : qui spécifiera qui aura validé le document
# -	validated_on : qui spécifiera la date de validation du document
=
